<!DOCTYPE html>
<html lang="en">

<head>
    <title>ISIP</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link href="css/style.css" rel="stylesheet">
     <link href="css/font-awesome.css" rel="stylesheet">

    <script src="js/lib/jquery.js"></script>
    <script src="js/lib/bootstrap.js"></script>

    <script src="js/lib/angular.min.js"></script>
    <script src="js/lib/angular-ui-router.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="js/app/app.js"></script>
    <script src="js/app/layout/header.controller.js"></script>
    <script src="js/app/layout/welcome.controller.js"></script>
    <script src="js/app/landing.controller.js"></script>
    <script src="js/app/right.info.controller.js"></script>
    <script src="js/app/search.controller.js"></script>
    <script src="js/app/cart/cart.controller.js"></script>
    <script src="js/app/cart/cart.service.js"></script>
</head>

<body data-ng-app="ISIPApp">
    <header data-ng-controller="headerController as hc">
        <div class="top-line"></div>
        <div class="top-bar">
            <div style="float: left;padding: 10px 0px 0 20px;">
                            <a href="index.html"><img src="images/Space.png" alt="LOGO"/></a>
                        </div>
            <div class="col-lg-1 pull-right top_padding">
                <div class="cart_icon"> <i class="fa fa-shopping-cart" style="zoom:1.5;"></i></div>
                <a ui-sref="cart"><div class="ycircle">{{hc.getCartItem().length}}</div></a>
            </div>
            <div class="col-lg-2 pull-right top_padding">               
                <div class="login">Login / Register</div>
                <div class="login_icon"><i class="fa fa-user" style="zoom:1.5;margin: -1px 3px 0 0;"></i></div>
                
                
            </div>
        </div>
        <div class="navbar-wrapper">
            <nav class="navbar navbar-inverse navbar-static-top">
                <div class="container">
                    <div id="navbar" class="navbar-collapse collapse">                        
                        <ul class="nav navbar-nav">
                            <!--<li data-ng-class="{'active':hc.currentTab==0}" data-ng-click="hc.currentTab=0">
                            <a ui-sref='welcome()'>Home</a>
                        </li>-->
                            <li data-ng-repeat="navTab in hc.navTabs" data-ng-class="{'active':navTab.id==hc.currentTab}" data-ng-click="hc.currentTab=navTab.id">
                                <a ui-sref="landing({navTabId:navTab.id})">{{navTab.name}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
            
        </div>
    </header>
    <div ui-view=""></div>
    <footer></footer>
</body>

</html>